body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
  box-sizing: border-box;
}

.container {
  width: 250px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  font-weight: bold;
}

.container input[type="email"],
.container input[type="password"] {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  outline: 0;
}

.container input[type="email"]:focus,
.container input[type="password"]:focus {
  border: 1px solid #86b7fe;
  box-shadow: 0 0 0 5px #b9d3fa;
}

.container button {
  margin: 0;
  margin-top: 1rem;
  padding: 0.5rem 0.7rem;
  border-radius: 20px;
  width: 100%;
  background-color: #0d6efd;
  color: white;
}
